[Unit]
Description=Sync CloudLinux Repository Mirror
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -av --delete {{ cloudlinux_rsync_source }} {{ cloudlinux_mirror_path }}/
StandardOutput=append:{{ cloudlinux_sync_log }}
StandardError=append:{{ cloudlinux_sync_log }}
