[Unit]
Description=Sync SWNG Repository Mirror
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -av --delete {{ swng_rsync_source }} {{ swng_mirror_path }}/
ExecStartPost=/usr/local/bin/update-healthcheck.sh "{{ healthcheck_source_name }}" OK
StandardOutput=append:{{ swng_sync_log }}
StandardError=append:{{ swng_sync_log }}
