[Unit]
Description=Sync SWNG Repositories with reposync
After=network.target

[Service]
Type=oneshot
{% for repo in swng_repos %}
{% if repo.enabled %}
{% if repo.module_platform_id is defined %}
ExecStart=/usr/bin/reposync -p {{ swng_mirror_path }}/ --repo {{ repo.name }} --setopt=module_platform_id={{ repo.module_platform_id }}
{% else %}
ExecStart=/usr/bin/reposync -p {{ swng_mirror_path }}/ --repo {{ repo.name }}
{% endif %}
ExecStartPost=/usr/bin/createrepo {{ swng_mirror_path }}/{{ repo.name }}/
{% endif %}
{% endfor %}
ExecStartPost=/usr/local/bin/update-healthcheck.sh "{{ healthcheck_source_name }}" OK
StandardOutput=append:{{ sync_log_file }}
StandardError=append:{{ sync_log_file }}
